.SettingsPage {
	width: 100%;
	padding: 40px;
	box-sizing: border-box;

	&-title {
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -0.02em;
		color: #272b30;
		margin-bottom: 25px;
		margin-top: 15px;
	}

	&-inner {
		display: flex;
		align-items: flex-start;
		background: #fcfcfc;
		border-radius: 8px;
		padding: 25px;

		.SettingsPage-left {
			width: 35%;

			&-btn {
				text-align: left;
				width: 90%;
				font-style: normal;
				font-weight: 600;
				font-size: 15px;
				line-height: 24px;
				letter-spacing: -0.01em;
				color: #6f767e;
				border: none;
				outline: none;
				background-color: transparent;
				border-radius: 8px;
				padding: 8px 16px;
				cursor: pointer;
				transition: all ease 0.4s;
				margin-bottom: 10px;

				&:hover {
					color: #1a1d1f;
					background-color: #efefef;
				}
			}
		}

		.SettingsPage-right {
			width: 70%;

			.SettingsPage-login {
				padding-bottom: 50px;
				border-bottom: 1px solid #efefef;
				margin-bottom: 50px;
			}

			.SettingsPage-payment {
				.SettingsPage-label {
					display: flex;
					align-items: center;
					
					svg {
						margin-left: 10px;
						width: 15px;
						height: 15px;
					}
				}
			}

			.SettingsPage-notifications {
				padding-bottom: 50px;
				border-bottom: 1px solid #efefef;
				margin-bottom: 50px;

				label {
					padding: 35px 0 15px 0;
					border-bottom: 1px solid #efefef;
					margin-left: 0;

					&:last-child {
						border-bottom: 0px;
					}

					.css-ahj2mt-MuiTypography-root::after {
						content: url("../../assets/images/icons/info-icon.svg");
						position: absolute;
						width: 15px;
						height: 15px;
						top: 38px;
						margin-left: 15px;
					}
					.MuiFormControlLabel-label {
						font-style: normal;
						font-weight: 600;
						font-size: 14px;
						line-height: 24px;
						letter-spacing: -0.01em;
						color: #33383f;
					}
				}
			}

			&-img {
				width: 95px;
				height: 95px;
			}

			&-top {
				display: flex;
				align-items: center;
				margin-bottom: 35px;
			}

			&-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 185px;
				font-style: normal;
				font-weight: bold;
				font-size: 13px;
				line-height: 24px;
				letter-spacing: -0.01em;
				color: #fcfcfc;
				background: #2a85ff;
				border-radius: 12px;
				padding: 10px 15px;
				margin: 0 15px 0 35px;
				cursor: pointer;
				border: none;
				outline: none;

				&.removeBtn {
					width: 100px;
					background: transparent;
					border: 2px solid #efefef;
					box-sizing: border-box;
					color: #1a1d1f;
					margin: 0;
				}

				&.update {
					width: 22%;
				}

				svg {
					width: 15px;
					height: 15px;
					margin-right: 15px;
				}
			}

			.SettingsPage-payment {
				.SettingsPage-right-btn {
					width: 10%;
					margin: 0;
				}

				.SettingsPage-right-btn.removeBtn {
					width: 12%;
					padding: 8px 15px;
				}

				&-titleZone {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid #efefef;
					margin-bottom: 15px;
					padding-bottom: 15px;
				}

				h4 {
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: -0.01em;
					color: #33383f;
				}

				p {
					font-style: normal;
					font-weight: 500;
					font-size: 12px;
					line-height: 12px;
					letter-spacing: -0.01em;
					color: #6f767e;
					margin: 15px 0 50px 0;
				}
			}

			.SettingsPage-formInput {
				.textareaZone {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-top-left-radius: 12px;
					border-top-right-radius: 12px;
					border: 1.5px solid rgba(154, 159, 165, 0.25);
					border-bottom: 0px;
					padding: 5px 12px;
					margin-top: 15px;

					svg {
						margin-right: 25px;
						&:last-child {
							margin-right: 0;
						}
					}
				}

				.SettingsPage-input {
					width: 100%;
					background: #f4f4f4;
					border-radius: 12px;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: -0.01em;
					color: #33383f;
					padding: 12px 15px;
					border: none;
					outline: none;
					box-sizing: border-box;
					margin: 15px 0 35px 0;

					&.textarea {
						resize: none;
						margin: 0;
						height: 100%;
						width: 100%;
						border-top-left-radius: 0px;
						border-top-right-radius: 0px;
						border: 1.5px solid rgba(154, 159, 165, 0.25);
						border-top: 0px;
					}
				}

				.SettingsPage-label {
					display: flex;
					align-items: center;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: -0.01em;
					color: #33383f;

					svg {
						margin-left: 10px;
						height: 15px;
						width: 15px;
					}
				}
			}
		}
	}
}
