.UpgradePage {
	width: 100%;
	padding: 40px;
	box-sizing: border-box;

	&-title {
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -0.02em;
		color: #272b30;
		margin-bottom: 25px;
		margin-top: 15px;
	}

	&-inner {
		width: 100%;
		background: #fcfcfc;
		border-radius: 8px;
		padding: 50px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		box-sizing: border-box;

		&-top {
			.UpgradePage-innerSpan {
				font-style: normal;
				font-weight: 600;
				font-size: 15px;
				line-height: 24px;
				letter-spacing: -0.01em;
				color: #6f767e;
			}
		}
		.UpgradePage-left {
			width: 100%;
			padding-right: 80px;
			border-right: 1px solid #efefef;

			&-top {
				margin-bottom: 25px;
				padding-bottom: 25px;
				border-bottom: 1px solid #efefef;
			}
		}

		.monthly {
			display: flex;
			align-items: center;
			margin-bottom: 25px;
			padding-bottom: 25px;
			border-bottom: 1px solid #efefef;

			&-title {
				font-style: normal;
				font-weight: 600;
				font-size: 64px;
				line-height: 64px;
				letter-spacing: -0.03em;
				color: #1a1d1f;
				margin-right: 25px;
			}

			&-text {
				width: 45%;
				font-style: normal;
				font-weight: 600;
				font-size: 13px;
				line-height: 16px;
				letter-spacing: -0.01em;
				color: #9a9fa5;
				margin-right: 50px;
			}

			svg {
				width: 20px;
				height: 20px;
				fill: #9a9fa5;
			}

			&-btn {
				width: 100%;
				font-style: normal;
				font-weight: bold;
				font-size: 15px;
				line-height: 24px;
				letter-spacing: -0.01em;
				border-radius: 12px;
				box-sizing: border-box;
				padding: 12px 0;
				border: none;
				outline: none;
				cursor: pointer;

				&.outlinedBtn {
					color: #1a1d1f;
					background: #fcfcfc;
					border: 2px solid #efefef;
					margin-top: 220px;
					transition: all ease 0.4s;
					&:hover {
						background: #efefef;
					}
				}
				&.upradeBtn {
					color: #fcfcfc;
					background: #2a85ff;
					margin-top: 70px;
				}
			}
		}

		.UpgradePage-right {
			width: 100%;
			padding-left: 80px;
			.reco {
				display: flex;
				align-items: center;
				margin-bottom: 20px;
			}

			&-top {
				margin-bottom: 25px;
				padding-bottom: 25px;
				border-bottom: 1px solid #efefef;
				.recomended {
					font-style: normal;
					font-weight: bold;
					font-size: 13px;
					line-height: 24px;
					letter-spacing: -0.01em;
					color: #1a1d1f;
					background: #b5e4ca;
					border: 2px solid #fcfcfc;
					box-sizing: border-box;
					border-radius: 40px;
					padding: 8px 16px;
					margin-left: 15px;
				}
			}
		}
	}
}
