.CheckItem {
	.MuiBox-root.css-agnjr6 {
		margin: 0;
	}

	&-element {
		transition: all ease 0.4s;

		label {
			margin: 0;
			position: absolute;
		}

		&:hover {
			background: #f4f4f4;
			border-radius: 8px;

			.ProductItem-sale {
				background: #fcfcfc;
			}

			.ProductItem-editIcons {
				opacity: 1;
			}
		}
	}

	&-img {
		border-radius: 8px;
		width: 80px;
		height: 80px;
		margin-right: 20px;
	}
}
