.ShopCard {
	&-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 25px 0;

		&-left {
			display: flex;
			align-items: center;

			.ShopCard-userImg {
				width: 80px;
				height: 80px; 
				border-radius: 50%;
				margin-right: 15px;
			}

			.ShopCard-userName {
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 32px;
				letter-spacing: -0.02em;
				color: #1a1d1f;
				margin-right: 15px;
			}

			.ShopCard-userIndex {
				font-style: normal;
				font-weight: bold;
				font-size: 15px;
				line-height: 24px;
				text-align: center;
				letter-spacing: -0.01em;
				color: #1a1d1f;
				border-radius: 6px;
				padding: 5px 8px;
				text-align: center;
			}

			.ShopCard-userProduct {
				font-style: normal;
				font-weight: 600;
				font-size: 13px;
				line-height: 16px;
				letter-spacing: -0.01em;
				color: #9a9fa5ff;

				& .num {
					color: #6f767eff;
				}
			}

			.line {
				width: 3px;
				height: 10px;
				background-color: #efefef;
				border-radius: 2px;
				margin: 0 15px;
			}
		}

		&-right {
			.ShopCard-btn {
				font-style: normal;
				font-weight: bold;
				font-size: 15px;
				line-height: 24px;
				letter-spacing: -0.01em;
				box-sizing: border-box;
				border-radius: 12px;
				padding: 12px 20px;
				cursor: pointer;
				border: none;
				outline: none;
			}
			.followBtn {
				color: #1a1d1f;
				background: #fcfcfc;
				border: 2px solid #efefef;
				margin-right: 10px;
				transition: all ease 0.4s;

				&:hover {
					background: #efefef;
				}
			}

			.shopNowBtn {
				color: #fcfcfc;
				background: #2a85ff;
			}
		}
	}

	.slick-slider {
		.slick-arrow {
			display: none !important;
		}

		.slick-list {
			.slick-track {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.slick-slide {
					margin-right: 25px;
					z-index: 2;
					div {
						position: relative;
						overflow: hidden;
						height: 170px;
						border-radius: 12px;
						cursor: pointer;

						&::before {
							content: "";
							display: block;
							position: absolute;
							height: 100%;
							width: 100%;
							bottom: 0;
							top: 0;
							right: 0;
							left: 0;
							margin: auto;
							opacity: 0;
							transition: all ease 0.4s;
							// border-radius: 12px;
							background: linear-gradient(
								0deg,
								rgba(17, 19, 21, 0.8) 0%,
								transparent 500%
							);
						}

						&::after {
							content: url("../../assets/images/icons/shopCardArrowIcon.svg");
							position: absolute;
							height: 20px;
							width: 20px;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							margin: auto;
							opacity: 0;
							border-radius: 50%;
							padding: 8px;
							background-color: #fcfcfc;
							transition: all ease 0.4s;
						}

						&:hover::after {
							opacity: 1;
						}

						&:hover::before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.ShopCard-carousel {
		overflow: hidden;
		width: 103%;

		.ShopCard-carouselImg {
			height: 170px;
			background: #efefef;
			border-radius: 12px;
			transition: all ease 0.4s;
			cursor: pointer;
			margin-right: 15px;
			object-fit: cover;
		}
	}
}
