@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.eot');
    src: url('./fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Inter-Regular.woff') format('woff'),
        url('./fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face { 
    font-family: 'Inter';
    src: url('./fonts/Inter-Light.eot');
    src: url('./fonts/Inter-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Inter-Light.woff') format('woff'),
        url('./fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Medium.eot');
    src: url('./fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Inter-Medium.woff') format('woff'),
        url('./fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-SemiBold.eot');
    src: url('./fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Inter-SemiBold.woff') format('woff'),
        url('./fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

