* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", san-serif;
	background-color: rgb(244, 244, 244);
}

h1,
h2, 
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1500px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}

.mini-container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}
