.Header {
	background: #fcfcfc;
	box-shadow: inset 1px 0px 0px #f4f4f4;
	padding: 25px 40px;
	width: 100%;
	box-sizing: border-box !important;
	position: relative;
	right: 0;
	left: 0;
	margin: auto;

	&-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 80%;
	}

	&-input {
		position: relative;
		max-width: 360px;

		.MuiInput-input {
			font-style: normal;
			font-weight: 500;
			font-size: 15px;
			line-height: 15px;
			letter-spacing: -0.01em;
			color: #9a9fa5;

			background: #f4f4f4;
			border-radius: 12px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 12px 120px 12px 50px;
			border: none;
			outline: none;
			position: relative;
			caret-color: #2a85ff;
		}

		.Header-inputBtn {
			background: #ffffff;
			box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.05),
				inset 0 -1px 1px rgba(0, 0, 0, 0.04),
				inset 0 2px 0 rgba(255, 255, 255, 0.25);
			border-radius: 8px;
			padding: 4px 12px;
			outline: none;
			border: none;
			cursor: pointer;
			position: absolute;
			top: 9px;
			right: 35px;
		}

		svg {
			position: absolute;
			z-index: 1;
			top: 11px;
			left: 20px;
			width: 15px;
			height: 15px;
		}
	}

	.Header-right {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			background: #2a85ff;
			border-radius: 12px;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 11px;
			letter-spacing: 1px;
			color: #fcfcfc;
			padding: 15px 20px;
			margin-right: 10px;
			outline: none;
			border: none;
			cursor: pointer;

			svg {
				width: 10px;
				height: 10px;
				margin-right: 10px;
			}
		}

		.iconBtn {
			padding: 0;
			margin-right: 10px;
			svg {
				width: 40px;
				height: 40px;
			}
		}

		.customerImg {
			width: 45px;
			height: 45px;
			border-radius: 50%;
		}
	}
}
